<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.inzent.itools">
      <iGateClient
            class="com.inzent.igate.api.impl.IGateClientImpl">
      </iGateClient>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.inzent.itools.views.MenuContentItem"
            class="com.inzent.igate.itools.views.MenuItemAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.inzent.imanager.repository.PrivilegedMeta"
            class="com.inzent.igate.itools.views.EntityAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.inzent.igate.repository.meta.Field"
            class="com.inzent.igate.itools.views.EntityAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.inzent.igate.repository.meta.MappingRuleDetail"
            class="com.inzent.igate.itools.views.EntityAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.inzent.igate.itools.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.inzent.igate.itools.command.category"
            name="iGate">
      </category>
      <command
            categoryId="com.inzent.igate.itools.command.category"
            id="com.inzent.igate.itools.command.DuplicateWebPage"
            name="Duplicate WebPage">
      </command>
      <command
            categoryId="com.inzent.igate.itools.command.category"
            defaultHandler="com.inzent.igate.itools.handlers.LoginHandler"
            id="com.inzent.igate.itools.command.Login"
            name="Login">
      </command>
      <command
            categoryId="com.inzent.igate.itools.command.category"
            defaultHandler="com.inzent.igate.itools.handlers.LogoutHandler"
            id="com.inzent.igate.itools.command.Logout"
            name="Logout">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.inzent.igate.itools.editors.LoginEditor"
            default="false"
            id="com.inzent.igate.itools.editors.LoginEditor"
            name="Login">
      </editor>
      <editor
            class="com.inzent.igate.itools.interfaces.editors.InterfaceEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.interface/icons/obj16/interface.png"
            id="com.inzent.igate.itools.interfaces.editors.InterfaceEditor"
            name="Interface">
      </editor>
      <editor
            class="com.inzent.igate.itools.record.editors.RecordEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.record/icons/obj16/record.png"
            id="com.inzent.igate.itools.record.editors.RecordEditor"
            name="Message Model">
      </editor>
      <editor
            class="com.inzent.igate.itools.mapping.editors.MappingEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.mapping/icons/obj16/mapping.png"
            id="com.inzent.igate.itools.mapping.editors.MappingEditor"
            name="Mapping">
      </editor>
      <editor
            class="com.inzent.igate.itools.operation.editors.OperationEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.operation/icons/obj16/operation.png"
            id="com.inzent.igate.itools.operation.editors.OperationEditor"
            name="Operation">
      </editor>
      <editor
            class="com.inzent.igate.itools.activity.editors.ActivityEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.activity/icons/obj16/activity.png"
            id="com.inzent.igate.itools.activity.editors.ActivityEditor"
            name="Activity">
      </editor>
      <editor
            class="com.inzent.igate.itools.service.editors.ServiceEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.service/icons/obj16/service.png"
            id="com.inzent.igate.itools.service.editors.ServiceEditor"
            name="Service">
      </editor>
      <editor
            class="com.inzent.igate.itools.service.editors.ReplyEmulateEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.service/icons/obj16/replyEmulate.png"
            id="com.inzent.igate.itools.service.editors.ReplyEmulateEditor"
            name="ServiceReplyEmulate">
      </editor>
      <editor
            class="com.inzent.igate.itools.interfaces.editors.TestCaseEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.interface/icons/obj16/testCase.png"
            id="com.inzent.igate.itools.interfaces.editors.TestCaseEditor"
            name="TestCase">
      </editor>
      <editor
            class="com.inzent.igate.itools.interfaces.editors.TestSuiteEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.interface/icons/obj16/testSuite.png"
            id="com.inzent.igate.itools.interfaces.editors.TestSuiteEditor"
            name="TestSuite">
      </editor>
      <editor
            class="com.inzent.igate.itools.query.editors.QueryEditor"
            default="false"
            icon="platform:/plugin/com.inzent.igate.itools.query/icons/obj16/query.png"
            id="com.inzent.igate.itools.query.editors.QueryEditor"
            name="Query">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.inzent.igate.itools.handlers.DuplicateWebPageHandler"
            commandId="com.inzent.igate.itools.command.DuplicateWebPage">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.inzent.itools.views.MenuContentWebPage">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.handlers.FilterHandler"
            commandId="org.eclipse.wst.sse.ui.outline.customFilter">
         <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.inzent.itools.views.MenuContentEntity">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="com.inzent.itools.views.MenuContentItem">
                        </instanceof>
                     </iterate>
                  </or>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.handlers.ReferenceCopyItemHandler"           
            commandId="org.eclipse.ui.edit.copy">
            <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.inzent.imanager.api.ReferenceTree">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>      
      <handler
            class="com.inzent.igate.itools.handlers.CopyItemHandler"
            commandId="org.eclipse.ui.edit.copy">
            <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.inzent.itools.views.MenuContentItem">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.handlers.ReferenceItemHandler"
            commandId="org.eclipse.jdt.ui.edit.text.java.search.references.in.hierarchy">
           <activeWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="com.inzent.itools.views.MenuContentItem">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.handlers.DeleteItemHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.inzent.itools.views.MenuContentItem">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.handlers.PasteItemHandler"
            commandId="org.eclipse.ui.edit.paste">
            <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.inzent.itools.views.MenuContentItem">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.ui.handlers.ExportHandler"
            commandId="org.eclipse.ui.file.export">
            <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.inzent.itools.views.MenuContent">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.inzent.igate.itools.ui.handlers.ImportHandler"
            commandId="org.eclipse.ui.file.import">
          <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.inzent.itools.views.MenuContent">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.inzent.igate.itools.views.MenuView?after=additions">
         <command
               commandId="org.eclipse.wst.sse.ui.outline.customFilter"
               disabledIcon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/filter_ps.png"
               icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/elcl16/filter_ps.png"
               style="push">
         </command>
         <command
               commandId="com.inzent.igate.itools.command.Login"
               icon="platform:/plugin/com.inzent.igate.itools.core/icons/obj16/favicon.png"
               label="&amp;Login"
               style="push"
               tooltip="Login">
         </command>
         <command
               commandId="com.inzent.igate.itools.command.Logout"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.png"
               label="Log&amp;out"
               style="push"
               tooltip="Logout">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="view:com.inzent.igate.itools.views.MenuView?after=additions">
         <command
               commandId="org.eclipse.wst.sse.ui.outline.customFilter"
               disabledIcon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/filter_ps.png"
               icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/elcl16/filter_ps.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.refresh"               
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.inzent.igate.itools.views.MenuView?after=additions">
         <command
               commandId="org.eclipse.wst.sse.ui.outline.customFilter"
               disabledIcon="platform:/plugin/org.eclipse.jdt.ui/icons/full/dlcl16/filter_ps.png"
               icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/elcl16/filter_ps.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.search.references.in.hierarchy"
               icon="platform:/plugin/org.eclipse.ui.navigator/icons/full/elcl16/content.png"
               style="push">
         </command>
         <separator
               name="com.inzent.igate.itools.ui.separator2">
         </separator>
         <command
               commandId="com.inzent.igate.itools.command.DuplicateWebPage"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/copy_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/copy_edit.png"
               label="Duplicate"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
         <separator
               name="com.inzent.igate.itools.ui.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/copy_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/copy_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/paste_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/paste_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/delete_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.png"
               style="push">
         </command>
         <separator
               name="com.inzent.igate.itools.ui.separator4"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.import"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/import_wiz.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/import_wiz.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.export"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/export_wiz.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/export_wiz.png"
               style="push">
         </command>
         <separator
               name="additions">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.inzent.igate.itools.views.ReferenceHierarchyView?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/copy_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/copy_edit.png"
               id="Copy Name"
               label="Copy Name"
               style="push">
         </command>
         <separator
               name="additions">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.inzent.igate.itools.newWizards.category"
            name="[iGate]">
      </category>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.record.wizards.RecordNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.record/icons/obj16/record.png"
            id="com.inzent.igate.itools.record.wizards.RecordNewWizard"
            name="Data Model">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.mapping.wizards.MappingNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.mapping/icons/obj16/mapping.png"
            id="com.inzent.igate.itools.mapping.wizards.MappingNewWizard"
            name="Mapping">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.service.wizards.ServiceNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.service/icons/obj16/service.png"
            id="com.inzent.igate.itools.service.wizards.ServiceNewWizard"
            name="Service">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.interfaces.wizards.InterfaceNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.interface/icons/obj16/interface.png"
            id="com.inzent.igate.itools.interfaces.wizards.InterfaceNewWizard"
            name="Interface">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.query.wizards.QueryNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.query/icons/obj16/query.png"
            id="com.inzent.igate.itools.query.wizards.QueryNewWizard"
            name="Query">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.activity.wizards.ActivityNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.activity/icons/obj16/activity.png"
            id="com.inzent.igate.itools.activity.wizards.ActivityNewWizard"
            name="Activity">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.operation.wizards.OperationNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.operation/icons/obj16/operation.png"
            id="com.inzent.igate.itools.operation.wizards.OperationNewWizard"
            name="Operation">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.service.wizards.ReplyEmulateNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.service/icons/obj16/replyEmulate.png"
            id="com.inzent.igate.itools.service.wizards.ReplyEmulateNewWizard"
            name="ServiceReplyEmulate">
      </wizard>
	  <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.interfaces.wizards.TestCaseNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.interface/icons/obj16/testCase.png"
            id="com.inzent.igate.itools.interfaces.wizards.TestCaseNewWizard"
            name="TestCase">
      </wizard>
      <wizard
            category="com.inzent.igate.itools.newWizards.category"
            class="com.inzent.igate.itools.interfaces.wizards.TestSuiteNewWizard"
            icon="platform:/plugin/com.inzent.igate.itools.interface/icons/obj16/testSuite.png"
            id="com.inzent.igate.itools.interfaces.wizards.TestSuiteNewWizard"
            name="TestSuite">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.inzent.igate.itools.perspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.inzent.igate.itools.perspective.PerspectiveFactory"
            icon="platform:/plugin/com.inzent.igate.itools.core/icons/obj16/favicon.png"
            id="com.inzent.igate.itools.perspective"
            name="iGate">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.inzent.igate.itools.preference.IGatePreferencePage"
            id="com.inzent.igate.itools.preferencePage"
            name="iGate">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.inzent.igate.itools.views.category"
            name="iGate">
      </category>
      <view
            category="com.inzent.igate.itools.views.category"
            class="com.inzent.igate.itools.views.MenuViewPart"
            icon="platform:/plugin/com.inzent.igate.itools.core/icons/obj16/favicon.png"
            id="com.inzent.igate.itools.views.MenuView"
            name="iGate Menu">
      </view>
      <view
            category="com.inzent.igate.itools.views.category"
            class="com.inzent.igate.itools.record.views.FieldMetaView"
            icon="platform:/plugin/com.inzent.igate.itools.record/icons/obj16/meta.png"
            id="com.inzent.igate.itools.record.views.FieldMetaView"
            name="Data-Dictionary">
      </view>      
      <view
            category="com.inzent.igate.itools.views.category"
            class="com.inzent.igate.itools.views.ReferenceHierarchyViewPart"
            icon="platform:/plugin/org.eclipse.ui.navigator/icons/full/elcl16/content.png"
            id="com.inzent.igate.itools.views.ReferenceHierarchyView"
            name="Reference Hierarchy">
      </view>    
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.inzent.igate.itools.ui.Startup">
      </startup>
   </extension>
   <extension
      point="org.eclipse.ui.bindings">
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.search.references.in.hierarchy"
         contextId="org.eclipse.ui.contexts.window"
         sequence="F4"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
	   </key>
	</extension>
</plugin>
