<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="iGate" version="3.1">

	<display-name>iGate</display-name>

	<listener>
		<listener-class>com.inzent.igate.context.IGateInitializeListener</listener-class>
	</listener>

	<listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>I_INB_S_HTTP_S01</servlet-name>
		<servlet-class>com.inzent.igate.session.http.HttpServlet</servlet-class>
		<init-param>
			<param-name>ConnectorId</param-name>
			<param-value>I_INB_S_HTTP_S01</param-value>
			</init-param>
		<init-param>
			<param-name>Methods</param-name>
			<param-value>GET,POST</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>I_INB_S_HTTP_S01</servlet-name>
		<url-pattern>/INB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/contextBase.xml
				/WEB-INF/contextConfig.xml
				/WEB-INF/contextCustom.xml
				/WEB-INF/contextTomEE.xml
				/WEB-INF/contextMBean.xml
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/TER</url-pattern>
	</servlet-mapping>
<!--
	<servlet>
		<servlet-name>I_INB_S_HTTP_S01</servlet-name>
		<servlet-class>com.inzent.igate.session.http.HttpServletForward</servlet-class>
		<init-param>
			<param-name>ConnectorId</param-name>
			<param-value>I_INB_S_HTTP_S01</param-value>
			</init-param>
		<init-param>
			<param-name>Methods</param-name>
			<param-value>GET,POST</param-value>
		</init-param>
		<init-param>
			<param-name>RefreshInterval</param-name>
			<param-value>10000</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>I_INB_S_HTTP_S01</servlet-name>
		<url-pattern>/INB</url-pattern>
	</servlet-mapping>
-->
	<servlet>
		<servlet-name>TestCase</servlet-name>
		<servlet-class>com.inzent.igate.connector.testing.TestingServlet</servlet-class>
		<load-on-startup>2147483647</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestCase</servlet-name>
		<url-pattern>/_TestCase_</url-pattern>
	</servlet-mapping>

</web-app>