[class^="gicon-"], [class*="gicon-"] {display: inline-block;background-repeat: no-repeat;background-size: 100% auto;background-position: 50% 50%;vertical-align: middle}
[class^="gicon-"]:before, [class*="gicon-"]:before{content: '' !important;}

.gicon-mapng{background-image: url(../img/gicon/mapng.svg)}
.gicon-model{background-image: url(../img/gicon/model.svg)}
.gicon-view-array{background-image: url(../img/gicon/view-array.svg)}
.gicon-limit{background-image: url(../img/gicon/limit.svg)}
.gicon-adptr{background-image: url(../img/gicon/adptr.svg)}
.gicon-cnnc{background-image: url(../img/gicon/cnnc.svg)}
.gicon-saf{background-image: url(../img/gicon/saf.svg)}
.gicon-cldr{background-image: url(../img/gicon/cldr.svg)}
.gicon-text-grn{background-image: url(../img/gicon/text-grn.svg)}
.gicon-text{background-image: url(../img/gicon/text.svg)}
.gicon-file-log{background-image: url(../img/gicon/file-log.svg)}
.gicon-file-error{background-image: url(../img/gicon/file-error.svg)}
.gicon-activity{background-image: url(../img/gicon/activity.svg)}
.gicon-tag{background-image: url(../img/gicon/tag.svg)}
.gicon-error-code{background-image: url(../img/gicon/error-code.svg)}
.gicon-std-code{background-image: url(../img/gicon/std-code.svg)}
.gicon-vriabl{background-image: url(../img/gicon/vriabl.svg)}
.gicon-web{background-image: url(../img/gicon/web.svg)}
.gicon-intrfc{background-image: url(../img/gicon/intrfc.svg)}
.gicon-service{background-image: url(../img/gicon/service.svg)}
.gicon-qna{background-image: url(../img/gicon/qna.svg)}
.gicon-talk{background-image: url(../img/gicon/talk.svg)}
.gicon-notice{background-image: url(../img/gicon/notice.svg)}
.gicon-msg-error{background-image: url(../img/gicon/msg-error.svg)}
.gicon-faq{background-image: url(../img/gicon/faq.svg)}
.gicon-method{background-image: url(../img/gicon/method.svg)}
.gicon-setting{background-image: url(../img/gicon/setting.svg)}
.gicon-client{background-image: url(../img/gicon/client.svg)}
.gicon-menu{background-image: url(../img/gicon/menu.svg)}
.gicon-dash{background-image: url(../img/gicon/dash.svg)}
.gicon-user{background-image: url(../img/gicon/user.svg)}
.gicon-role{background-image: url(../img/gicon/role.svg)}
.gicon-lock{background-image: url(../img/gicon/lock.svg)}
.gicon-msg{background-image: url(../img/gicon/msg.svg)}
.gicon-folder{background-image: url(../img/gicon/folder.svg)}
.gicon-instn{background-image: url(../img/gicon/instn.svg)}
.gicon-thread{background-image: url(../img/gicon/thread.svg)}
.gicon-file-check{background-image: url(../img/gicon/file-check.svg)}
.gicon-text-ygrn{background-image: url(../img/gicon/text-ygrn.svg)}
.gicon-arrange{background-image: url(../img/gicon/arrange.svg)}
.gicon-op{background-image: url(../img/gicon/op.svg)}
.gicon-time{background-image: url(../img/gicon/time.svg)}
.gicon-graph{background-image: url(../img/gicon/graph.svg)}
.gicon-txns{background-image: url(../img/gicon/txns.svg)}
.gicon-cpu{background-image: url(../img/gicon/cpu.svg)}
.gicon-memory{background-image: url(../img/gicon/memory.svg)}
.gicon-disk{background-image: url(../img/gicon/disk.svg)}
.gicon-que{background-image: url(../img/gicon/que.svg)}
.gicon-tps{background-image: url(../img/gicon/tps.svg)}
