<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="iLogger" version="3.1">

	<display-name>iLogger</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/contextBase.xml
			/WEB-INF/contextConfig.xml
			/WEB-INF/contextCustom.xml
			/WEB-INF/contextMBean.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>com.inzent.igate.context.ILoggerInitializeListener</listener-class>
	</listener>

	<listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>