@charset "UTF-8";

.wrap{height: 100vh}
.ct-dashboard{overflow: hidden;background: #f5f6fb !important;}
#dashboard{display: flex;margin: 0 0 24px -1.5rem;padding-left: 1.5rem;overflow: hidden}
#dashboard:before{content: '';height: calc(100vh - 152px)}
#dashboard .card-body{background-repeat: no-repeat;background-position: 50% 50%;background: transparent;}
#dashboard.widget-set-mode .card-body{background: none !important}

/* dashboard */
.dashboard-inner .table{height: 100%}
.dashboard-inner .table tr>*{font-size: .625rem;padding: 0;height: auto;vertical-align: middle;}
.dashboard-inner .table th{border-top: 0;padding-left: .25rem;}
.dashboard-inner .table tr:last-child td{border-bottom: 0}
.legend{line-height: 1rem;padding: .5rem 0 .375rem;text-align: center;margin-top: auto}
.legend .status{display: inline-flex;align-items: center;font-size: .625rem;color: rgba(21, 24, 38, 0.7)}
.legend .status+.status{margin-left: .438rem}
.legend .dot{display: inline-block;vertical-align: top;width: .5rem;height: .5rem;border-radius: 100%;margin-right: .25rem}
.legend-square .dot{border-radius: 0}
.legend .status>b{margin-left: .375rem;font-size: .875rem;color: #151826}
.graph-caption{font-size: .725rem;color: rgba(21, 24, 38, 0.97);line-height: .75rem;position: absolute;top: 0;left: 0}
.progress{border-radius: 1px;overflow: visible}
.progress+.progress{margin-top: .25rem}
.progress-vertical{position: relative;display: flex;flex-direction: column-reverse;height: auto;padding-bottom: .625rem;background: none;box-sizing: content-box;border-radius: 0}
.progress-vertical .progress-bar{width: .25rem}
.progress-vertical .progress-bar:before{content: '';position: absolute;bottom: 0;left: -.75rem;right: -.75rem;height: .625rem;z-index: 5}
.progress-vertical .progress-status{position: absolute;font-size: .625rem;line-height: .5rem;bottom: 0;left: 50%;transform: translateX(-30%);opacity: .5}
.gate-col{position: relative;display: flex;align-items: flex-end;justify-content: center;height: 100%;padding-top: .5rem}
.graph-vs{position: relative;display: flex;align-items: flex-end;justify-content: center;height: 100%;padding-top: .5rem}
.graph-vs .progress{height: calc(100% - .625rem);margin: 0 .75rem}
.gate-row{display: flex;flex-wrap: wrap;align-items: center;height: 3.6rem}
.gate-row+.gate-row{margin-top: .375rem}
.gate{font-size: 1.1em;line-height: .82rem;width: 5.413em;white-space: nowrap; margin-top: .125rem; margin-right: .625rem; }
.gate .status, .label .status{display: inline-block;margin-right: .25rem;vertical-align: middle;min-width: .68rem;height: .68rem;;border-radius: 1px; margin-top: 1px; }
.gate .status { margin-top: -.2em; }
.gate .t-xs{opacity: .7; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 4.2em; }
.gate-graph{flex: 1}
.gate-graph .progress{background: none;height: .65em}
.gate-graph .progress-bar{position: relative;text-align: left;font-size: 1.25em;height: .65em;overflow: visible;color: inherit}
.gate-graph .progress-bar:last-child{text-align: right}
.gate-graph .t-xs{position: absolute;top: 100%;left: 0;opacity: .5;width: 143%}
.gate-graph .progress-bar+.progress-bar{margin-left: 1px}
.flex-1{flex: 1;overFlow:auto;}
.table.flex-1{height: 100%}
.gate-row-wrp:not(.no-gutters){margin-left: -.5rem;margin-right: -.5rem}
.gate-row-wrp:not(.no-gutters)>[class*=col]{padding-left: .5rem;padding-right: .5rem}
.t-xs{transform: scale(.7);transform-origin: left top;font-weight: 700;display: inline-block;vertical-align: middle}
.up .t-xs{top: auto;bottom: 100%;line-height: .5rem}
.status-msg{display: flex;flex-wrap: wrap;min-width: 3rem;justify-content: flex-end}
.status-msg>[class*=icon]{font-size: .75rem;margin-left: .25rem}
.graph{position: relative}
/* .graph:before{content: '';display: block;padding-bottom: 96px} */
.graph canvas{position: absolute;top: 0;right: 0;left: 0;bottom: 0}
.sub-bar input[readonly]{width: 240px}
#dashboard:not(.edit-mode) .card-body{padding-top: 0;padding-bottom: 0;height: calc(100% - 40px);display: flex;flex-direction: column}
.label{font-size: .845rem;background: #f5f6fb;display: flex;align-items: center;padding: .375rem .5rem;border-radius: .25rem;line-height: .95rem;min-width: 0}
.label>span{opacity: .7;white-space: nowrap}
.row-label:not(.no-gutters){margin-left: -.188rem;margin-right: -.188rem;align-items: flex-start}
.row-label:not(.no-gutters)>[class*=col]{padding-left: .188rem;padding-right: .188rem;padding-top: .75rem}

/* editmode */
.dashboard-inner{flex: 1;overflow: auto;overflow: overlay}
#containerBody{display: flex;margin: auto;overflow: hidden}
/* #dashboard:not(.edit-mode) #containerBody{align-items: flex-start} */
#widget{flex-basis: 240px;max-width: 240px;padding: 0 24px;overflow: visible;margin-right: -240px;transition: margin .3s}
#widget.open{margin-left: 12px;margin-right: 0}
#widget>.h2{padding: 22px 0 28px}
#widget>section{border-top: 1px solid #f0f1f6;margin-bottom: 24px}
.widget{flex: 1 1 auto;display: flex;flex-direction: column;overflow: hidden}
.widget-item-list{overflow-y: auto;overflow-y: overlay}
.widget-item-list .nav-link, .nav-link.ui-draggable-dragging{padding: 8px 12px;background: #f5f6fb;display: flex;align-items: center;border-radius: 4px;cursor: move}
.widget-item-list .nav-link:hover{background: #e6e8f6}
.widget-item-list .nav-link+.nav-link{margin-top: 8px}
.widget-item-list .nav-link [class*=icon], .nav-link.ui-draggable-dragging [class*=icon]{font-size: 1rem;margin-right: .5rem}
.nav-link.ui-draggable-dragging{width: 192px;background: #e6e8f6 !important;box-shadow: 0 16px 16px -12px rgba(0, 0, 0, 0.3);z-index: 50}
#root{position: relative;display: flex;width: calc(100% + 10px);min-height: calc(100% + 10px);margin: -5px;flex-wrap: wrap}
#root .card{height: calc(100% - 10px);margin: 5px}
.edit-mode .card{overflow: auto;overflow: overlay}
.component{position: relative;overflow: hidden}
.componentDelete, .componentDroppable, .componentEdit{position: absolute;display: flex;align-items: center;justify-content: center;opacity: 0}
.componentDroppable.top, .componentDroppable.bottom{left: 45px;right: 45px;height: 40px}
.componentDroppable.left, .componentDroppable.right{top: 45px;bottom: 45px;width: 40px}
.componentDroppable.top{top: 5px}
.componentDroppable.bottom{bottom: 5px}
.componentDroppable.left{left: 5px}
.componentDroppable.right{right: 5px}
.componentDroppable:after{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(42, 58, 133, 0.1);pointer-events: none}
.componentDroppable.top:after, .componentDroppable.bottom:after{left: -40px;right: -40px}
.componentDroppable.left:after, .componentDroppable.right:after{top: -40px;bottom: -40px}
.componentDroppable.top:after{border-radius: .25rem .25rem 0 0}
.componentDroppable.bottom:after{border-radius: 0 0 .25rem .25rem}
.componentDroppable.left:after{border-radius: .25rem 0 0 .25rem}
.componentDroppable.right:after{border-radius: 0 .25rem .25rem 0}
.componentDroppable.ui-droppable-hover:after{background: rgba(63, 88, 209, 0.2) !important}
/* icon.min.css > icomoon 확인. */
.componentDroppable:before, .componentDelete:before, .componentEdit:before{content: '\e912';font-family: 'Nanum Gothic', 'Times New Roman', 'icomoon', sans-serif;line-height: 1;color: #8a8b92}
.componentDelete, .componentEdit{width: 32px;height: 32px;top: 9px;right: 9px;border-radius: .25rem;cursor: pointer;z-index: 1}
.componentEdit{right: 41px}
.component:hover .componentDelete, .component:hover .componentEdit, .componentDroppable.ui-droppable-active{opacity: 1}
.component:hover .componentDelete:hover, .component:hover .componentEdit:hover{background: rgba(42, 58, 133, 0.1)}
.componentDelete:before{content: '\e941'}
.componentEdit:before{content: '\e908'}
.ui-droppable:not(.ui-droppable-active) .component:hover .componentDroppable { display: none; }
#containerBody.ui-droppable-active .componentDelete{opacity: 0;pointer-events: none}
.component-horizontal, .component-vertical{display: flex;flex-wrap: wrap}
.component .card-header{padding: .75rem;font-size: .875rem;height: 40px}
.component .card-header .nav-link{padding:0}
.component .card-header [class*=icon]{margin-right: .75rem;font-size: 1rem}
.component .card-body{padding: .75rem}
.ui-resizable{left: 0 !important;top: 0 !important}
.scroll-element{opacity: 0}
.scroll-wrapper:hover .scroll-element{opacity: 1}
.scrollbar-inner>.scroll-element.scroll-x{height: 10px}
.scrollbar-inner>.scroll-element.scroll-y{width: 10px}
.btn-fullscreen{display: none}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .btn-fullscreen{display: inline-block}
}

/* fullscreen */
@media all and (display-mode: fullscreen) {
    html, body, .wrap, #ct, #dashboard{height: 100vh}
    body ::-webkit-scrollbar{width: 12px; height: 12px}
    .dashboard-inner{max-height: 100vh}
    #hd, #sidebar, #widget, #ct>.sub-bar, #ct #dashBar{display: none !important}
    #ct{padding: 0}
    #dashboard{align-items: center;justify-content: center;margin: 0;padding: 0}
    .scrollbar-inner>.scroll-element.scroll-x{height: 15px}
    .scrollbar-inner>.scroll-element.scroll-y{width: 15px}
}

@media not all and (display-mode: fullscreen) {
    .edit-mode #containerBody{width: 100% !important;height: 100% !important}
    .edit-mode .dashboard-inner{overflow: hidden}
}

#dashboard:-ms-fullscreen #widget{display: none}
#dashboard:-ms-fullscreen{padding: 0;margin: 0;background: #f5f6fb;width: 100%;height: 100vh;align-items: center}
#dashboard:-ms-fullscreen .dashboard-inner{max-height: 100vh !important}
#dashboard:-ms-fullscreen .scrollbar-inner>.scroll-element.scroll-x{height: 15px}
#dashboard:-ms-fullscreen .scrollbar-inner>.scroll-element.scroll-y{width: 15px}
#dashboard:-ms-fullscreen #containerBody{overflow: hidden}
#dashboard.edit-mode:not(:-ms-fullscreen) #containerBody{width: 100% !important;height: 100% !important}
#dashboard.edit-mode:not(:-ms-fullscreen) .dashboard-inner{overflow: hidden}

/* widget */
.widget-set{position: relative;max-width: 364px;margin: 0 auto;height: 100%}
.widget-set .control-label{font-size: .625rem;padding-bottom: 4px}
.widget-set .form-control{height: 28px;padding-top: 2px;padding-bottom: 2px;font-size: .813rem;min-width: 0}
.widget-set .form-group+.form-group, .widget-set .form-control+.form-control{margin-top: 4px}
.edit-mode:not(.widget-set-mode) .widget-set{display: none}
.widget-set-mode .card-body{padding-top: 0;padding-bottom: 0}
.widget-set>.row:before{content: '';position: absolute;top: 0;left: 50%;bottom: 0;border-left: 1px solid #f0f1f6}
.widget-set>.row{margin: 0 -12px;position: relative;padding-bottom: .75rem}
.widget-set>.row>[class*=col]{padding: 0 12px}

/* transaction */
.transaction{position: relative; display: flex; align-items: center; font-family: 'Nanum Gothic', 'Times New Roman', sans-serif; height: calc(100% - 39px); max-height: 120px; padding-bottom: 10px;}
.transaction-info{position: relative; margin-left: 120px; text-align: center; width: calc(100% - 120px); height:100%; display: flex; align-items: center; }
.transaction-info:before{content: ''; position: absolute; top: 50%; left: 0; right: 0; border-top: 1px solid #42C5E1; margin-top: -1px;}
.transaction-legend {margin-left: 120px;}
.transaction-legend > .status {font-size: 0.625rem;}
.transaction-status{position: absolute;top: 50%;left: 0;background: #fff;transform: translateY(-50%);display: flex;align-items: center;line-height: 1.179}
.transaction-status>span{opacity: .5;font-size: .75rem}
.transaction-status .num{opacity: 1;font-size: 1.25rem;font-weight: 700;margin-left: .5rem}
.traffic{display: inline-block;vertical-align: top;position: relative}
.traffic-state{position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;align-items: center;justify-content: center}
.traffic-state>div{position: relative;width: 78px;height: 78px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: #fff;font-weight: 700;margin: 0 25px}
.circle{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 0;border-radius: 100%}
.circle:before, .circle>i:before{content: '';display: block;padding-bottom: 100%}
.traffic-ball{flex: 1;display: flex;justify-content: space-between;align-items: center}
.transaction .ball{display: block;width: 95px;height: 14px;background: url(../img/dashboard/traffic-ball.svg) no-repeat 100% 50%}
.traffic-ball .ball{width: 19.3482%;height: auto;padding-bottom: 2.8513%;background-size: auto 100%}
.circle>i{position: absolute;background: inherit;border-radius: 100%;top: 0;left: 0}
.btn [class*=icon-]{color: #8a8b92}
.ui-selectable-helper {background: #42C5E1; opacity: 0.5; border:1px solid #42C5E1;}

.tui-grid-cell {background-color: #fff;}
.datatable tr>*{font-size: .625rem;}

#dashContextMenu {width: 180px; z-index: 999999; border-radius: 4px; background-color: #ffffff; border: 1px solid #99a0bb; color: #000000; background-color: #ffffff; overflow: hidden;}
#dashContextMenu li {padding: 3px;}
#dashContextMenu li:hover, .contextMenuHover {background: #eee; color: #000; cursor: pointer;}
#dashContextSetting {width: 300px;height: 345px;z-index: 999999;border-radius: 8px;background-color: #ffffff;border: 1px solid #99a0bb;}
#dashContextSetting #contextMenuContainerList {background: #ffffff;padding-right: 0.5rem;}
.export-nav-link {position: absolute;top: .75rem;right: .75rem;}
.card-header .icon-export, .card-header .icon-set {cursor: pointer;}
#noticeArea {position: absolute;bottom: 0px;right: 0px;border: 1px solid #ccc;z-index: 999;}
.componentHover {border-radius: 10px; position: absolute; z-index: 9999; top: 3px; left: 5px;}
#prevCompoentHover {background : rgba(101, 110, 183, 0.3);}
#componentHover {background : rgba(101, 110, 183, 0.3);}
.chartjs-tooltip {font-family: "Nanum Gothic";font-size: 0.7rem;font-style: normal;pointer-events: none;}
.resize-tooptip {position: absolute;background-color: #e6e8f6;border-radius: 2px;padding: 3px;width: 60px;height: 27px;} 
.filterModal .tui-grid-lside-area {width: 38px !important;border-left: 1px solid #aaa;border-right: 1px solid #aaa;} 
.filterModal .tui-grid-scrollbar-right-top{border-right-color: #aaa;}
.filterModal .tui-grid-scrollbar-y-outer-border{background-color: #aaa;}
.filterModal .tui-grid-scrollbar-right-bottom{border-bottom: 1px solid #aaa;}
.filterModal .tui-grid-layer-state{border-left: 1px solid #aaa;}
.addHover {position: absolute;background-color: rgba(63, 88, 209, 0.5);z-index: 2;width: 100%;height: 100%;}
.addAreaHover {position: absolute;background-color: rgba(63, 88, 209, 0.8);z-index: 3;}
.graph-caption .iconb-warn {width: 0.925rem;height: 0.925rem;margin-left: 0.25rem;}
.gate .iconb-warn {width: 0.68rem;height: 0.68rem;margin-top: -2px;}