/Custom.jar
/iGate-Common-5.2.1.jar
/iGate-Core-5.2.1.jar
/iGate-Logger-5.2.1.jar
/iGate-Meta-Normal-5.2.1.jar
/iManager-Common-5.2.1.jar
/iManager-Core-5.2.1.jar
/iGate-Common-5.2.2.jar
/iGate-Core-5.2.2.jar
/iGate-Logger-5.2.2.jar
/iGate-Meta-Normal-5.2.2.jar
/iManager-Common-5.2.2.jar
/iManager-Core-5.2.2.jar
